.content {
  padding: 50px 14px 24px 14px;

  @include xl {
    padding: 50px;
  }
}

.content- {
  &title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $text;

    margin-bottom: 20px;
  }

  &title:first-of-type {
    margin-top: 5px;
  }
}

#myTab {
  border: none;
  padding: 0;

  .nav-link {
    @include button;
    font-weight: 500;

    margin-right: 40px;

    font-size: 16px;
    line-height: 20px;

    color: $secondary;
    padding: 0 2px 4px 2px;

    &:hover {
        border: none;
    }

    &.active {
      font-weight: 600;
      color: $text;
      background: $default;

      border: none;
      border-bottom: 2px solid $primary;
    }
  }
}

.food- {
  &card {
    background: $bg-food;
    border: 1px solid $border;
    border-radius: 31px;

    padding-bottom: 40px;

    max-width: 230px;

    margin-top: 120px;
  }

  &img {
    @include flex-cc;

    margin-top: -65px;

    width: 130px;
    height: 130px;

    background: $bg-food;
    border: 1px solid $border;
    border-radius: 50%;
    img {
      width: 110px;
      height: 110px;
    }
  }

  &name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: $text;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  &price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;

    color: $secondary;
    margin-bottom: 30px;
  }

  &btn {
    @include button;
    @include flex-cc;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;

    color: $text;

    padding: 11px 23px;
    height: 40px;

    white-space: nowrap;

    background: $primary;
    border-radius: 40px;
  }
}
